.app-container {
    display: flex;
}
.App {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 24px 8%;
    /* display: flex; */
}
.toggle-nav-btn{
    background-color: rgb(206, 206, 206);
}
.navbar{
    position: fixed; /* Fixed positioning to keep the navbar on the left side */
    top: 0;
    left: 0;
    height: 100%;
    width: 128px; /* Set the width of the navbar */
    background-color: #ffffff;
    color: black;
    padding-top: 20px;
    transition: transform 0.3s ease;
}
.navbar> ul > *{
    padding: 10px 20px;
}
.navbar> ul > *:hover{
    background-color: grey;
    cursor: pointer;    
}

.toggle-nav-btn:hover {
    cursor: pointer;
}
#page-title {
    text-align: center;
    color: #C1C1C1;
    font-size: 4rem;
}
.sub-title {
    margin: 24px 0;
    font-size: 1.75rem;
  }