* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#news-sources-container {
  display: flex;
  background-color: #F1F1F1;
  padding: 8px;
  margin: 24px;
  height: 128px;
  justify-content: space-between;
  align-items: center;
}

#items-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 96px;
  /* background-color: red; */
}

.item-cards {
  display: flex;
  height: 100%;
  width: 128px;
  background-color: rgb(255, 213, 213);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.item-cards > img {
  width: 64px;
}
.item-cards > p {
  bottom: 0;
}

#add-source-btn { 
  padding: 20px;
  background-color: white;
}

.text-block {
  margin: 0 5px;
  height: 216px;
  width: 80%;
  background-color: rgb(158, 158, 158);
}
.main-summary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-summary {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 216px;
}
.sub-summary > .text-section {
  width: 87.5%;
  height: 90%;
  background-color: green;
}

.text-section{
  width: 95%;
  height: 90%;
  background-color: blue;
}

.sub-summary > .item-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.divider {
  width: 8px;
  height: 85%;
  background-color: black;
}
.item-display > img{
  width: 64px;
}
