#news-sources-container {
    display: flex;
    background-color: #F1F1F1;
    padding: 0 8px;
    margin: 4px 0;
    height: 144px;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 3px 1px #DEDEDE;
    border: 1px solid rgba(0,0,0,.25);
 }
  #items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 16px;
    height: 100%;
    /* background-color: red; */
 }
 #add-source-btn {
    padding: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 40px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
 }
 