.item-cards {
    display: flex;
    border-radius: 8px;
    height: 80%;
    width: 96px;
    padding: 8px 0;
    /* background-color: rgb(255, 213, 213); */
    background-color: rgb(228, 228, 228);
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
 }
.item-cards:hover {
   background-color: rgb(212, 212, 212);
   transition-property: all;
   transition-duration: 200ms;
   height: 82.5%;
   cursor: pointer;
}

 .item-cards > img {
    width: 64px;
    border-radius: 8px;
 }
 .item-cards > p {
    bottom: 0;
 }
 